Pillow
atari-py
pyprind
ipdb
boto3
Box2D
PyOpenGL
nose2
pyzmq
msgpack-python
mujoco_py
cached_property
line_profiler
cloudpickle
Cython
redis
awscli
gym
pyglet
prettytensor
jupyter
progressbar2
tensorflow>=0.11.0
joblib
path.py
mako
dominate
downsample
git+https://github.com/Theano/Theano.git@adfe319ce6b781083d8dc3200fb4481b00853791#egg=Theano
git+https://github.com/neocxi/Lasagne.git@484866cf8b38d878e92d521be445968531646bb8#egg=Lasagne
git+https://github.com/plotly/plotly.py.git@2594076e29584ede2d09f2aa40a8a195b3f3fc66#egg=plotly
torch
scikit-image
h5py
